<div class="container-fluid">
	<div class="page-header">
	  <h1>That Swords'n'Sorcery Game</h1>		  
	  <h1><small>User Accounts</small></h1>
	</div>
	
	<nav class="navbar navbar-inverse">
	  <ul class="nav navbar-nav">
		<li><a class="btn" onclick="loadCharacters();">Characters</a></li>
		<li><a class="btn" onclick="loadParties();">Parties</a></li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Items
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a class="btn" onclick="loadArmor();">Armor</a></li>
				<li><a class="btn" onclick="loadWeapons();">Weapons</a></li>
			</ul>
		</li>
		<li><a class="btn" onclick="loadSpells();">Spells</a></li>
		<li><a class="btn" onclick="loadMonsters();">Monsters</a></li>
		<li class="active"><a class="btn" onclick="loadAccounts();">Accounts</a></li>
	  </ul>			  
	</nav>	
	
	<button type="button" class="btn">View Premium Members</button>			
	
    <table class="table table-condensed table-striped">
		<thead>
		  <tr>
		  	<th>Name</th>
			<th>Username</th>
			<th>Email</th>
			<th>Rate</th>
			<th></th>
		  </tr>
		</thead>
		<tbody>
		{{#each accounts}}
		  <tr>
			<td>{{name}}</td>
			<td>{{username}}</td>
			<td>{{email}}</td>
			<td>{{payment_rate}}</td>
			<td><a class="btn" onclick="editAccount({{id}})">Edit</a>
				|<a href="index.html">Characters</a>
				|<a class="btn" onclick="deleteAccount({{id}})">Delete</a>
			</td>
		  </tr>
		{{/each}}
		</tbody>
	</table>
	
	<button type="button" class="btn" onclick="editAccount()">Create</button>		   
   
	<!-- Modal -->
	<div id="deleteModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<h4 class="modal-title">Delete</h4>
		  </div>
		  <div class="modal-body">
			<p>Are you sure you want to delete this user account?</p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			<button type="button" class="btn btn-danger" data-dismiss="modal">Delete Account</button>
		  </div>
		</div>

	  </div>
	</div>
	
	
</div>
