<div class="container-fluid">
	<div class="page-header">
	  <h1>That Swords'n'Sorcery Game</h1>		  
	  <h1><small>Edit Armor</small></h1>
	</div>
	
	<nav class="navbar navbar-inverse">
	  <ul class="nav navbar-nav">
		<li class="active"><a class="btn" onclick="loadCharacters();">Characters</a></li>
		<li><a class="btn" onclick="loadParties();">Parties</a></li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Items
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a class="btn" onclick="loadArmor();">Armor</a></li>
				<li><a class="btn" onclick="loadWeapons();">Weapons</a></li>
			</ul>
		</li>
		<li><a class="btn" onclick="loadSpells();">Spells</a></li>
		<li><a class="btn" onclick="loadMonsters();">Monsters</a></li>
		<li><a class="btn" onclick="loadAccounts();">Accounts</a></li>
	  </ul>			  
	</nav>		
	
	<form class="form-horizontal">
		<div class="col-sm-8">
			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" class="form-control" id="name" value="{{name}}">
				
				<label for="type">Type:</label>
				<input type="text" class="form-control" id="type" value="{{_type}}">
			  
				<label for="bonus">Bonus:</label>
				<input type="text" class="form-control" id="bonus" value="{{bonus}}">
			 
				<label for="resistance">Resistance:</label>
				<input type="text" class="form-control" id="resistance" value="{{resistance}}">
				
				<label for="description">Description:</label>
				<input type="text" class="form-control" id="description" value="{{description}}">	
			</div>
		  
			<button class="btn btn-success" onclick="saveArmor({{id}})">Submit</button>
		</div>
	</form>
</div>