body{
	background: url("Wood-Background.jpg");
	font-family: arial;
}

#container{
	text-align: center;
}

#board{
	position: relative;

	height: 220px;
	width: 875px;
	display: inline-block;
	background-color: SaddleBrown;
}

.pebble{
	border-radius: 50%;
	border-style: solid;
	border-color: gray;
	background-color: #608080;
	height: 10px;
	width: 10px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
}

.player-pit{
	border-style: solid;
	border-width: 1px;
	border-radius: 10%;
	height: 210px;
	width: 100px;
}

#player1-pit{
	position: absolute;
	left: 5px;
	top: 5px;
	background-color: Red;
}

#player2-pit{
	position: absolute;
	left: 770px;
	top: 5px;
	background-color: Blue;
}

#player1-text{
	color: red;
}

#player2-text{
	color: blue;
}

.cups{
	border-style: solid;
	border-width: 1px;
	border-radius: 30%;
	height: 100px;
	width: 100px;
	text-align: center;
	background-color: Peru;
}

#cup1{
	position: absolute;
	left: 110px;
	top: 5px;
}

#cup2{
	position: absolute;
	left: 220px;
	top: 5px;
}

#cup3{
	position: absolute;
	left: 330px;
	top: 5px;
}

#cup4{
	position: absolute;
	left: 440px;
	top: 5px;
}

#cup5{
	position: absolute;
	left: 550px;
	top: 5px;
}

#cup6{
	position: absolute;
	left: 660px;
	top: 5px;
}

#cup13{
	position: absolute;
	left: 110px;
	top: 110px;
}

#cup12{
	position: absolute;
	left: 220px;
	top: 110px;
}
#cup11{
	position: absolute;
	left: 330px;
	top: 110px;
}
#cup10{
	position: absolute;
	left: 440px;
	top: 110px;
}
#cup9{
	position: absolute;
	left: 550px;
	top: 110px;
}

#cup8{
	position: absolute;
	left: 660px;
	top: 110px;
}

.row{
	display: inline-block;
}