<!doctype html>
<html>
  <head>
    <title>Home</title>
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
  </head>
  <body>
    <div id ='header'>
		<h1><i>Pokemon GO Manager</i></h1>
	</div>
	<ul id='main_menu'>
		<li><a href="PokemonList">Pokemon</a></li> <!-- might add .html-->
		<li><a href="ManageTeams">Teams</a></li>
		<li><a href="ManageEvolutions">Evolutions</a></li>
		<li><a href="LogInPage">Log In</a></li>
		<li><a href="LogOut">Log Out</a></li>
		<li><a href="Credits">Credits</a></li>
	</ul>
	<img src='images/titlepic.jpg'>
  </body>
</html>