@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Cody Riniker<br/>
    Email: rinikercody@gmail.com<br/>
    Projects: <a href="https://github.com/rinikercody/Projects">Github Repository</a>
</address>
