@{
    ViewData["Title"] = "Home Page";
}

<h1>This application is used to test user sessions.</h1>
<h2>A users session is tracked using cookies.</h2>
<h2>The cookie is deleted when the browser is closed.</h2>
