
@{
    ViewData["Title"] = "Log In";
}

@ViewData["message"]
<h2>Log In</h2>
<form method="POST">
    <fieldset>
        <input type ="text" name="username" />
    </fieldset>
    <input type="submit" value="Log In"/>
</form>

<h2>Log Out</h2>
<form method="POST" name="logOutForm">
    <input type="submit" name="logOutButton" value="Log Out" />
</form>



