@{
    ViewData["Title"] = "Contact";
}
<h1>Contact Information</h1>
<address>
    Cody Riniker<br />
    Email: rinikercody@gmail.com<br />
    Project: <a href="https://github.com/rinikercody/Projects">Github Repository</a>
</address>

