@{
    ViewData["Title"] = "Home Page";
}

<h1>Hello</h1>
<h2>This application is just a simple ASP.NET project that allows users to add people to a database.</h2>
<h2>Most of the styling and theming for this project is from the default ASP.Net MVC template in Visual Studio.</h2>
<h2>The purpose of this project is test things like GET and POST request along with connecting to a database.</h2>
