
@{
    ViewData["Title"] = "People";
}

<h2>People</h2>
@ViewData["message"]
<form method="POST">
    <feildset>
        <input type="text" name="name" />
        <input type="text" name="age" />
    </feildset>
    <input type="submit" value="Add Person" />
</form>

@Html.Raw(ViewBag.HtmlStr)

<form method="POST">
    <feildset>
        <input type="text" name="deleteName" />
    </feildset>
    <input type="submit" value="Remove Name" />
</form>

