<!DOCTYPE html>
	<html>
		<head>
			<title>Credits</title>
			<link type="text/css" rel="stylesheet" href="css/CreditsStyleSheet.css"/>
		</head>
		
		<body>
		
			<div id='main_menu'>
				<ul>
				  <li><a href='/index'>Home</a></li>
				  <li><a href='/PokemonList'>Pokemon</a></li>
				  <li><a href='/ManageTeams'>Teams</a></li>
				  <li><a href='/ManageEvolutions'>Evolutions</a></li>
				</ul>
			</div>
			<div id="credits">
				<h1>Credits</h1>
				<h2>Pokemon Sprites</h2>
				<a href='http://pkmn.net/?action=content&page=viewpage&id=8644'>pkmn.net</a>
				<h2>Pokemon 3D gifs</h2>
				<a href='https://www.pkparaiso.com/xy/sprites_pokemon.php'>pkparaiso.com</a>
				<h2>Pokemon Stats</h2>
				<a href='https://www.serebii.net/pokemongo/pokemon.shtml'>serebii.net</a>
			</div>
			<!-- add part for pictures-->
		</body>
	</html>
	