<!doctype html>
<html>
  <head>
    <title>Full Evos</title>
    <link type="text/css" rel="stylesheet" href="css/TeamStyleSheet.css"/>
  </head>
  <body>
  
	<div id='main_menu'>
		<ul>
		  <li><a href='/index'>Home</a></li>
		  <li><a href='/PokemonList'>Pokemon</a></li>
		  <li><a href='/ManageTeams'>Teams</a></li>
		  <li><a href='/ManageEvolutions'>Evolutions</a></li>
		</ul>
	</div>
  
	<div id="alert">
    <h1>Your team is currently full</h1> 
	<text>To add more pokemon to your evolution list remove some Pokemon from your party.</text>
	<p></p>
    <a href='/ManageEvolutions'>Manage Evolutions</a>
	</div>
  </body>
</html>