<!DOCTYPE html>
 <script>
    function proceed(info) { 
      var form = document.createElement("form"); 
      form.setAttribute("method", "post"); 
      form.setAttribute("action", "AddRequest"); 
      var field = document.createElement("input"); 
      field.setAttribute("type", "hidden"); 
      field.setAttribute("name", "info");
	  //var c = document.getElementById('numberb').value;
      field.setAttribute("value", info); //would add c to info 
      form.style.display = "hidden"; 
      form.appendChild(field); 
      document.body.appendChild(form); 
      form.submit(); 
    }
 </script>
 <html>
  <head>
   <title>Pokemon List</title>
   <link rel="stylesheet" type="text/css" href="css/PokemonListStyleSheet.css">
  </head>
  <body>
  
  <!--
  <div id="numberbox">
  <text>Enter CP or number of candies</text>
  <input type="text" value="0" id='numberb'></input>
  <input type="button" onclick="jump()">Go</input>
  </div>
  -->
  
<div id='main_menu'>
 <ul>
  <li><a href='/index'>Home</a></li>
  <li><a href='/PokemonList3D'>3DPokemon</a></li>
  <li><a href='/ManageTeams'>Teams</a></li>
  <li><a href='/ManageEvolutions'>Evolutions</a></li>
 </ul>
</div>
   <div id="wrapper">
    <div class="heading_text">
     <h1>Pokemon</h1>
<div class="row"
 <div class="colh"
  <text>&nbsp&nbsp&nbsp&nbspName</text>
 </div>
 <div class="colh"
  <text>&nbsp&nbsp&nbsp&nbsp&nbspType(s)</text>
 </div>
 <div class="colh"
  <text>Max CP</text>
 </div>
 <div class="colh"
  <text>Candy</text>
 </div>
 <div class="colh"
  <text>Add Pokemon</text>
 </div>
</div>
    <ul style="list-style-type: none;">
     <li>
         <img src="Pokemon/252.png"/>
<div class ="row">
<div class="col">
            <text>Treecko&nbsp&nbsp</text></div>
<div class="col">
            <text>Grass&nbsp&nbsp</text></div>
<div class="col">
            <text>923&nbsp&nbsp</text></div>
<div class="col">
            <text>25&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT252');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE252');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/253.png"/>
<div class ="row">
<div class="col">
            <text>Grovyle&nbsp&nbsp</text></div>
<div class="col">
            <text>Grass&nbsp&nbsp</text></div>
<div class="col">
            <text>1508&nbsp&nbsp</text></div>
<div class="col">
            <text>100&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT253');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE253');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/254.png"/>
<div class ="row">
<div class="col">
            <text>Sceptile&nbsp&nbsp</text></div>
<div class="col">
            <text>Grass&nbsp&nbsp</text></div>
<div class="col">
            <text>2584&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT254');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/255.png"/>
<div class ="row">
<div class="col">
            <text>Torchic&nbsp&nbsp</text></div>
<div class="col">
            <text>Fire&nbsp&nbsp</text></div>
<div class="col">
            <text>959&nbsp&nbsp</text></div>
<div class="col">
            <text>25&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT255');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE255');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/256.png"/>
<div class ="row">
<div class="col">
            <text>Combusken&nbsp&nbsp</text></div>
<div class="col">
            <text>Fire:Fight&nbsp&nbsp</text></div>
<div class="col">
            <text>1472&nbsp&nbsp</text></div>
<div class="col">
            <text>100&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT256');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE256');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/257.png"/>
<div class ="row">
<div class="col">
            <text>Blaziken&nbsp&nbsp</text></div>
<div class="col">
            <text>Fire:Fight&nbsp&nbsp</text></div>
<div class="col">
            <text>2631&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT257');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/258.png"/>
<div class ="row">
<div class="col">
            <text>Mudkip&nbsp&nbsp</text></div>
<div class="col">
            <text>Water&nbsp&nbsp</text></div>
<div class="col">
            <text>981&nbsp&nbsp</text></div>
<div class="col">
            <text>25&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT258');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE258');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/259.png"/>
<div class ="row">
<div class="col">
            <text>Marshtomp&nbsp&nbsp</text></div>
<div class="col">
            <text>Water:Ground&nbsp&nbsp</text></div>
<div class="col">
            <text>1617&nbsp&nbsp</text></div>
<div class="col">
            <text>100&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT259');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE259');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/260.png"/>
<div class ="row">
<div class="col">
            <text>Swampert&nbsp&nbsp</text></div>
<div class="col">
            <text>Water:Ground&nbsp&nbsp</text></div>
<div class="col">
            <text>2815&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT260');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/261.png"/>
<div class ="row">
<div class="col">
            <text>Poochyena&nbsp&nbsp</text></div>
<div class="col">
            <text>Dark&nbsp&nbsp</text></div>
<div class="col">
            <text>564&nbsp&nbsp</text></div>
<div class="col">
            <text>50&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT261');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE261');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/262.png"/>
<div class ="row">
<div class="col">
            <text>Mightyena&nbsp&nbsp</text></div>
<div class="col">
            <text>Dark&nbsp&nbsp</text></div>
<div class="col">
            <text>1783&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT262');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/263.png"/>
<div class ="row">
<div class="col">
            <text>Zigzagoon&nbsp&nbsp</text></div>
<div class="col">
            <text>Normal&nbsp&nbsp</text></div>
<div class="col">
            <text>423&nbsp&nbsp</text></div>
<div class="col">
            <text>50&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT263');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE263');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/264.png"/>
<div class ="row">
<div class="col">
            <text>Linoone&nbsp&nbsp</text></div>
<div class="col">
            <text>Normal&nbsp&nbsp</text></div>
<div class="col">
            <text>1533&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT264');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/265.png"/>
<div class ="row">
<div class="col">
            <text>Wurmple&nbsp&nbsp</text></div>
<div class="col">
            <text>Bug&nbsp&nbsp</text></div>
<div class="col">
            <text>502&nbsp&nbsp</text></div>
<div class="col">
            <text>12&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT265');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE265');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/266.png"/>
<div class ="row">
<div class="col">
            <text>Silcoon&nbsp&nbsp</text></div>
<div class="col">
            <text>Bug&nbsp&nbsp</text></div>
<div class="col">
            <text>517&nbsp&nbsp</text></div>
<div class="col">
            <text>50&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT266');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE266');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/267.png"/>
<div class ="row">
<div class="col">
            <text>Beautifly&nbsp&nbsp</text></div>
<div class="col">
            <text>Bug:Flying&nbsp&nbsp</text></div>
<div class="col">
            <text>1442&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT267');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/268.png"/>
<div class ="row">
<div class="col">
            <text>Cascoon&nbsp&nbsp</text></div>
<div class="col">
            <text>Bug&nbsp&nbsp</text></div>
<div class="col">
            <text>517&nbsp&nbsp</text></div>
<div class="col">
            <text>50&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT268');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE268');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/269.png"/>
<div class ="row">
<div class="col">
            <text>Dustox&nbsp&nbsp</text></div>
<div class="col">
            <text>Bug:Poison&nbsp&nbsp</text></div>
<div class="col">
            <text>1121&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT269');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/270.png"/>
<div class ="row">
<div class="col">
            <text>Lotad&nbsp&nbsp</text></div>
<div class="col">
            <text>Water:Grass&nbsp&nbsp</text></div>
<div class="col">
            <text>526&nbsp&nbsp</text></div>
<div class="col">
            <text>25&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT270');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE270');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/271.png"/>
<div class ="row">
<div class="col">
            <text>Lombre&nbsp&nbsp</text></div>
<div class="col">
            <text>Water:Grass&nbsp&nbsp</text></div>
<div class="col">
            <text>1102&nbsp&nbsp</text></div>
<div class="col">
            <text>100&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT271');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE271');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/272.png"/>
<div class ="row">
<div class="col">
            <text>Ludicolo&nbsp&nbsp</text></div>
<div class="col">
            <text>Water:Grass&nbsp&nbsp</text></div>
<div class="col">
            <text>2229&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT272');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/273.png"/>
<div class ="row">
<div class="col">
            <text>Seedot&nbsp&nbsp</text></div>
<div class="col">
            <text>Grass&nbsp&nbsp</text></div>
<div class="col">
            <text>526&nbsp&nbsp</text></div>
<div class="col">
            <text>25&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT273');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE273');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/274.png"/>
<div class ="row">
<div class="col">
            <text>Nuzleaf&nbsp&nbsp</text></div>
<div class="col">
            <text>Grass:Dark&nbsp&nbsp</text></div>
<div class="col">
            <text>1117&nbsp&nbsp</text></div>
<div class="col">
            <text>100&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT274');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE274');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/275.png"/>
<div class ="row">
<div class="col">
            <text>Shiftry&nbsp&nbsp</text></div>
<div class="col">
            <text>Grass:Dark&nbsp&nbsp</text></div>
<div class="col">
            <text>2186&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT275');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/276.png"/>
<div class ="row">
<div class="col">
            <text>Taillow&nbsp&nbsp</text></div>
<div class="col">
            <text>Normal:Flying&nbsp&nbsp</text></div>
<div class="col">
            <text>642&nbsp&nbsp</text></div>
<div class="col">
            <text>50&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT276');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE276');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/277.png"/>
<div class ="row">
<div class="col">
            <text>Swellow&nbsp&nbsp</text></div>
<div class="col">
            <text>Normal:Flying&nbsp&nbsp</text></div>
<div class="col">
            <text>1677&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT277');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/278.png"/>
<div class ="row">
<div class="col">
            <text>Wingull&nbsp&nbsp</text></div>
<div class="col">
            <text>Water:Flying&nbsp&nbsp</text></div>
<div class="col">
            <text>642&nbsp&nbsp</text></div>
<div class="col">
            <text>50&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT278');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE278');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/279.png"/>
<div class ="row">
<div class="col">
            <text>Pelipper&nbsp&nbsp</text></div>
<div class="col">
            <text>Water:Flying&nbsp&nbsp</text></div>
<div class="col">
            <text>1793&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT279');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/280.png"/>
<div class ="row">
<div class="col">
            <text>Ralts&nbsp&nbsp</text></div>
<div class="col">
            <text>Phychic:Fairy&nbsp&nbsp</text></div>
<div class="col">
            <text>436&nbsp&nbsp</text></div>
<div class="col">
            <text>25&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT280');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE280');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/281.png"/>
<div class ="row">
<div class="col">
            <text>Kirlia&nbsp&nbsp</text></div>
<div class="col">
            <text>Phychic:Fairy&nbsp&nbsp</text></div>
<div class="col">
            <text>843&nbsp&nbsp</text></div>
<div class="col">
            <text>100&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT281');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE281');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/282.png"/>
<div class ="row">
<div class="col">
            <text>Gardevoir&nbsp&nbsp</text></div>
<div class="col">
            <text>Phychic:Fairy&nbsp&nbsp</text></div>
<div class="col">
            <text>2964&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT282');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/283.png"/>
<div class ="row">
<div class="col">
            <text>Surskit&nbsp&nbsp</text></div>
<div class="col">
            <text>Bug:Water&nbsp&nbsp</text></div>
<div class="col">
            <text>695&nbsp&nbsp</text></div>
<div class="col">
            <text>50&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT283');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE283');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/284.png"/>
<div class ="row">
<div class="col">
            <text>Masquerain&nbsp&nbsp</text></div>
<div class="col">
            <text>Bug:Flying&nbsp&nbsp</text></div>
<div class="col">
            <text>1667&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT284');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/285.png"/>
<div class ="row">
<div class="col">
            <text>Shroomish&nbsp&nbsp</text></div>
<div class="col">
            <text>Grass&nbsp&nbsp</text></div>
<div class="col">
            <text>722&nbsp&nbsp</text></div>
<div class="col">
            <text>50&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT285');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE285');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/286.png"/>
<div class ="row">
<div class="col">
            <text>Breloom&nbsp&nbsp</text></div>
<div class="col">
            <text>Grass:Fighting&nbsp&nbsp</text></div>
<div class="col">
            <text>2407&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT286');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/287.png"/>
<div class ="row">
<div class="col">
            <text>Slakoth&nbsp&nbsp</text></div>
<div class="col">
            <text>Normal&nbsp&nbsp</text></div>
<div class="col">
            <text>942&nbsp&nbsp</text></div>
<div class="col">
            <text>25&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT287');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE287');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/288.png"/>
<div class ="row">
<div class="col">
            <text>Vigoroth&nbsp&nbsp</text></div>
<div class="col">
            <text>Normal&nbsp&nbsp</text></div>
<div class="col">
            <text>1896&nbsp&nbsp</text></div>
<div class="col">
            <text>100&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT288');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE288');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/289.png"/>
<div class ="row">
<div class="col">
            <text>Slaking&nbsp&nbsp</text></div>
<div class="col">
            <text>Normal&nbsp&nbsp</text></div>
<div class="col">
            <text>4548&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT289');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/290.png"/>
<div class ="row">
<div class="col">
            <text>Nincada&nbsp&nbsp</text></div>
<div class="col">
            <text>Bug:Ground&nbsp&nbsp</text></div>
<div class="col">
            <text>674&nbsp&nbsp</text></div>
<div class="col">
            <text>50&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT290');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE290');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/291.png"/>
<div class ="row">
<div class="col">
            <text>Ninjask&nbsp&nbsp</text></div>
<div class="col">
            <text>Bug:Flying&nbsp&nbsp</text></div>
<div class="col">
            <text>1790&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT291');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/292.png"/>
<div class ="row">
<div class="col">
            <text>Shedinja&nbsp&nbsp</text></div>
<div class="col">
            <text>Bug:Ghost&nbsp&nbsp</text></div>
<div class="col">
            <text>421&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT292');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/293.png"/>
<div class ="row">
<div class="col">
            <text>Whismur&nbsp&nbsp</text></div>
<div class="col">
            <text>Normal&nbsp&nbsp</text></div>
<div class="col">
            <text>603&nbsp&nbsp</text></div>
<div class="col">
            <text>12&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT293');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE293');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/294.png"/>
<div class ="row">
<div class="col">
            <text>Loudred&nbsp&nbsp</text></div>
<div class="col">
            <text>Normal&nbsp&nbsp</text></div>
<div class="col">
            <text>1233&nbsp&nbsp</text></div>
<div class="col">
            <text>50&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT294');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE294');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/295.png"/>
<div class ="row">
<div class="col">
            <text>Exploud&nbsp&nbsp</text></div>
<div class="col">
            <text>Normal&nbsp&nbsp</text></div>
<div class="col">
            <text>2133&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT295');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/296.png"/>
<div class ="row">
<div class="col">
            <text>Makuhita&nbsp&nbsp</text></div>
<div class="col">
            <text>Fighting&nbsp&nbsp</text></div>
<div class="col">
            <text>745&nbsp&nbsp</text></div>
<div class="col">
            <text>50&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT296');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE296');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/297.png"/>
<div class ="row">
<div class="col">
            <text>Hariyama&nbsp&nbsp</text></div>
<div class="col">
            <text>Fighting&nbsp&nbsp</text></div>
<div class="col">
            <text>2765&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT297');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/298.png"/>
<div class ="row">
<div class="col">
            <text>Azurill&nbsp&nbsp</text></div>
<div class="col">
            <text>Normal:Fairy&nbsp&nbsp</text></div>
<div class="col">
            <text>316&nbsp&nbsp</text></div>
<div class="col">
            <text>50&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT298');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE298');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/299.png"/>
<div class ="row">
<div class="col">
            <text>Nosepass&nbsp&nbsp</text></div>
<div class="col">
            <text>Rock&nbsp&nbsp</text></div>
<div class="col">
            <text>831&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT299');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/300.png"/>
<div class ="row">
<div class="col">
            <text>Skitty&nbsp&nbsp</text></div>
<div class="col">
            <text>Normal&nbsp&nbsp</text></div>
<div class="col">
            <text>659&nbsp&nbsp</text></div>
<div class="col">
            <text>50&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT300');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE300');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/301.png"/>
<div class ="row">
<div class="col">
            <text>Delcatty&nbsp&nbsp</text></div>
<div class="col">
            <text>Normal&nbsp&nbsp</text></div>
<div class="col">
            <text>1315&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT301');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/302.png"/>
<div class ="row">
<div class="col">
            <text>Sableye&nbsp&nbsp</text></div>
<div class="col">
            <text>Dark:Ghost&nbsp&nbsp</text></div>
<div class="col">
            <text>1305&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT302');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/303.png"/>
<div class ="row">
<div class="col">
            <text>Mawile&nbsp&nbsp</text></div>
<div class="col">
            <text>Steel:Fairy&nbsp&nbsp</text></div>
<div class="col">
            <text>1484&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT303');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/304.png"/>
<div class ="row">
<div class="col">
            <text>Aron&nbsp&nbsp</text></div>
<div class="col">
            <text>Steel:Rock&nbsp&nbsp</text></div>
<div class="col">
            <text>1232&nbsp&nbsp</text></div>
<div class="col">
            <text>25&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT304');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE304');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/305.png"/>
<div class ="row">
<div class="col">
            <text>Lairon&nbsp&nbsp</text></div>
<div class="col">
            <text>Steel:Rock&nbsp&nbsp</text></div>
<div class="col">
            <text>2004&nbsp&nbsp</text></div>
<div class="col">
            <text>100&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT305');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE305');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/306.png"/>
<div class ="row">
<div class="col">
            <text>Aggron&nbsp&nbsp</text></div>
<div class="col">
            <text>Steel:Rock&nbsp&nbsp</text></div>
<div class="col">
            <text>3004&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT306');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/307.png"/>
<div class ="row">
<div class="col">
            <text>Meditite&nbsp&nbsp</text></div>
<div class="col">
            <text>Fight:Psychic&nbsp&nbsp</text></div>
<div class="col">
            <text>555&nbsp&nbsp</text></div>
<div class="col">
            <text>50&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT307');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE307');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/308.png"/>
<div class ="row">
<div class="col">
            <text>Medicham&nbsp&nbsp</text></div>
<div class="col">
            <text>Fight:Psychic&nbsp&nbsp</text></div>
<div class="col">
            <text>1275&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT308');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/309.png"/>
<div class ="row">
<div class="col">
            <text>Electrike&nbsp&nbsp</text></div>
<div class="col">
            <text>Electric&nbsp&nbsp</text></div>
<div class="col">
            <text>810&nbsp&nbsp</text></div>
<div class="col">
            <text>50&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT309');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE309');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/310.png"/>
<div class ="row">
<div class="col">
            <text>Manectric&nbsp&nbsp</text></div>
<div class="col">
            <text>Electric&nbsp&nbsp</text></div>
<div class="col">
            <text>2131&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT310');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/311.png"/>
<div class ="row">
<div class="col">
            <text>Plusle&nbsp&nbsp</text></div>
<div class="col">
            <text>Electric&nbsp&nbsp</text></div>
<div class="col">
            <text>1681&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT311');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/312.png"/>
<div class ="row">
<div class="col">
            <text>Minun&nbsp&nbsp</text></div>
<div class="col">
            <text>Electric&nbsp&nbsp</text></div>
<div class="col">
            <text>1585&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT312');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/313.png"/>
<div class ="row">
<div class="col">
            <text>Volbeat&nbsp&nbsp</text></div>
<div class="col">
            <text>Bug&nbsp&nbsp</text></div>
<div class="col">
            <text>1517&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT313');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/314.png"/>
<div class ="row">
<div class="col">
            <text>Illumise&nbsp&nbsp</text></div>
<div class="col">
            <text>Bug&nbsp&nbsp</text></div>
<div class="col">
            <text>1517&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT314');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/315.png"/>
<div class ="row">
<div class="col">
            <text>Roselia&nbsp&nbsp</text></div>
<div class="col">
            <text>Grass:Poison&nbsp&nbsp</text></div>
<div class="col">
            <text>1718&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT315');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/316.png"/>
<div class ="row">
<div class="col">
            <text>Gulpin&nbsp&nbsp</text></div>
<div class="col">
            <text>Poison&nbsp&nbsp</text></div>
<div class="col">
            <text>788&nbsp&nbsp</text></div>
<div class="col">
            <text>50&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT316');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE316');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/317.png"/>
<div class ="row">
<div class="col">
            <text>Swalot&nbsp&nbsp</text></div>
<div class="col">
            <text>Poison&nbsp&nbsp</text></div>
<div class="col">
            <text>1872&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT317');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/318.png"/>
<div class ="row">
<div class="col">
            <text>Carvanha&nbsp&nbsp</text></div>
<div class="col">
            <text>Water:Dark&nbsp&nbsp</text></div>
<div class="col">
            <text>874&nbsp&nbsp</text></div>
<div class="col">
            <text>50&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT318');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE318');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/319.png"/>
<div class ="row">
<div class="col">
            <text>Sharpedo&nbsp&nbsp</text></div>
<div class="col">
            <text>Water:Dark&nbsp&nbsp</text></div>
<div class="col">
            <text>1986&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT319');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/320.png"/>
<div class ="row">
<div class="col">
            <text>Wailmer&nbsp&nbsp</text></div>
<div class="col">
            <text>Water&nbsp&nbsp</text></div>
<div class="col">
            <text>1424&nbsp&nbsp</text></div>
<div class="col">
            <text>400&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT320');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE320');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/321.png"/>
<div class ="row">
<div class="col">
            <text>Wailord&nbsp&nbsp</text></div>
<div class="col">
            <text>Water&nbsp&nbsp</text></div>
<div class="col">
            <text>2258&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT321');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
     <li>
         <img src="Pokemon/322.png"/>
<div class ="row">
<div class="col">
            <text>Numel&nbsp&nbsp</text></div>
<div class="col">
            <text>Fire:Ground&nbsp&nbsp</text></div>
<div class="col">
            <text>957&nbsp&nbsp</text></div>
<div class="col">
            <text>50&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT322');">+Team</button>
<text>&nbsp&nbsp</text><button type="button" onclick="proceed('AE322');">+Evolution</button>
</div>
     </li>
     <li>
         <img src="Pokemon/323.png"/>
<div class ="row">
<div class="col">
            <text>Camerupt&nbsp&nbsp</text></div>
<div class="col">
            <text>Fire:Ground&nbsp&nbsp</text></div>
<div class="col">
            <text>2016&nbsp&nbsp</text></div>
<div class="col">
            <text>0&nbsp&nbsp</text></div>
<button type="button" onclick="proceed('AT323');">+Team</button>
<text>&nbsp&nbsp</text></div>
     </li>
    </ul>
   </div>
  </body>
</html>
