<!doctype html>
<html>
  <head>
    <title>Full Team</title>
    <link type="text/css" rel="stylesheet" href="css/TeamStyleSheet.css"/>
  </head>
  <body>
  
	<div id='main_menu'>
		<ul>
		  <li><a href='/index'>Home</a></li>
		  <li><a href='/PokemonList'>Pokemon</a></li>
		  <li><a href='/ManageTeams'>Teams</a></li>
		  <li><a href='/ManageEvolutions'>Evolutions</a></li>
		</ul>
	</div>
  
	<div id="alert"> 
	<h1>You already have a team with that team name.</h1>
	<text>Please make a unique name for each team</text>
	<p></p>
    <a href='ManageTeams'>Manage Team</a>
	</div>
  </body>
</html>