<!doctype>
	<html>
		<head>
			<title>Login Page</title>
			<link type="text/css" rel="stylesheet" href="css/LoginStylesheet.css"/>
		</head>
		<body>
		    <h1>Log In</h1>
		    <div class="container">
			<form method='POST' id='login-form'>
				<fieldset>
					<label for='username'>Username</label>
					<input type='text' name='username'/>
				</fieldset>
				
				<fieldset>
					<label for='pwd'>Password</label>
					<input type='password' name='pwd'/>
				</fieldset>
				<input type='submit' value='Log In'/>
			</form> 
			</div>
			
			<h1>New User</h1>
			<div class="container">
			<form method='POST' id='new-user-form'>
				<fieldset>
					<label for='username'>Create Username</label>
					<input type='text' name='newuser'/>
				</fieldset>
				
				<fieldset>
					<label for='pwd'>Create Password</label>
					<input type='password' name='pwd'/>
				</fieldset>
				<input type='submit' value='Join'/>
			</form> 
			</div>
			
		</body>
	</html>