<!doctype>
	<html>
		<head>
			<title>Unselected Team</title>
			<link <link type="text/css" rel="stylesheet" href="css/TeamStyleSheet.css"/>
		</head>
		<body>
			<div id='main_menu'>
				<ul>
					<li><a href='/index'>Home</a></li>
					<li><a href='/PokemonList'>Pokemon</a></li>
					<li><a href='/ManageTeams'>Teams</a></li>
					<li><a href='/ManageEvolutions'>Evolutions</a></li>
				</ul>
			</div>
			
			<div id="alert">
				<h1>You need log in before you can manage pokemon</h1>
				<a href='/LogInPage'>Log In</a>
				<a href='/index'>Home</a>
			</div>
			
		</body>
	</html>