<!doctype>
	<html>
		<head>
			<title>Unselected Team</title>
			<link <link type="text/css" rel="stylesheet" href="css/TeamStyleSheet.css"/>
		</head>
		<body>
			
			<div id='main_menu'>
				<ul>
					<li><a href='/index'>Home</a></li>
					<li><a href='/PokemonList'>Pokemon</a></li>
					<li><a href='/ManageTeams'>Teams</a></li>
					<li><a href='/ManageEvolutions'>Evolutions</a></li>
				 </ul>
			</div>
			
			<div id="alert">
				<h1>You need to select a team before you add Pokemon</h1>
				<a href='/ManageTeams'>Manage Teams</a>
			</div>
		</body>
	</html>